-unless @auction.nil?
  .row
    .col-lg-8.col-md-8.col-sm-12
      .panel.panel-info
        .panel-heading.text-center
          %h3.panel-title Auction Information
        .panel-body.auction-info
          %p
            =render "auctions/status"
          %p
            %span Ends At: #{@auction.ends_at.to_formatted_s(:long)}
          %p
            -unless (@auction.ends_at - Time.now) <= 0
              %span #{distance_of_time_in_words_to_now(@auction.ends_at, include_seconds: true).titleize} Left!
            -else
              %span This Auction Has Ended!
  -if @auction.ended? and !@product.transferred and !@auction.top_bid.nil?
    -if @product.belongs_to_user?(current_user)
      =link_to "Give this product to the winner", transfer_product_path(@product), class: "btn btn-sm btn-primary", method: :put
    -elsif @auction.top_bid_is_mine?(current_user)
      =link_to "Claim this product", transfer_product_path(@product), class: "btn btn-sm btn-primary", method: :put
  -elsif @auction.has_not_ended?
    .row
      =form_for [@product, @auction, Bid.new], html: {class: "form-inline new_bid"} do |f|
        .form-group
          = f.label :value, nil, class: "sr-only"
          .input-group
            .input-group-addon
              $
            = f.text_field :value, class: "form-control", placeholder: "Amount"
        = f.submit 'Place Bid', class: "btn btn-primary"
