<!DOCTYPE html>
<html>
<head>
  <title>AwesomeAuctions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "nav" %>
<div class="container">
  <%= content_tag :div, content_tag(:button, content_tag(:span, "×", "aria-hidden": "true"), type: "button", class: "close", "data-dismiss": "alert", "aria-label": "Close") + content_tag(:strong, "Uh Oh! ") + alert, class: "alert alert-danger alert-dismissible fade in", role: "alert" if alert %>
  <%= content_tag :div, content_tag(:button, content_tag(:span, "×", "aria-hidden": "true"), type: "button", class: "close", "data-dismiss": "alert", "aria-label": "Close") + content_tag(:strong, "Success! ") + notice, class: "alert alert-success alert-dismissible fade in", role: "alert" if notice %>
  <%= yield %>
</div>

<script type="text/javascript">
    App = {
        websocket_url: "ws://<%= request.host %>:<%= request.port %>"
    };
</script>
</body>
</html>
